<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DropIt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("DropIt", "UploadFile", "Upload", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Upload File", "UploadFile", "Upload")</li>
                        <li>@Html.ActionLink("Upload Image", "UploadImage", "Upload")</li>
                    </ul>
                </div>*@
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a>&copy; 2020 - DropIt</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
